In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Data/Absenteeism_at_work.csv', sep=';')

In [5]:
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average per day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [6]:
df.columns

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average per day', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average per day        740 non-null    float64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [9]:
x=df.iloc[:,1:-1]
y=df.iloc[:,-1]

In [10]:
y.head()

0    4
1    0
2    2
3    4
4    2
Name: Absenteeism time in hours, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [11]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3)

In [21]:
rf=RandomForestRegressor(n_estimators=250)
rf.fit(x_train, y_train)

RandomForestRegressor(n_estimators=250)

In [22]:
y_pred=rf.predict(x_test)

In [23]:
from sklearn import metrics
metrics.mean_squared_error(y_pred, y_test)

158.0283235678373

In [24]:
table=pd.DataFrame({'Actual':pd.DataFrame(y_test.values)[0].values, 'Predict':pd.DataFrame(y_pred)[0]})
table.tail(10)

     Actual    Predict
212       2   3.037067
213       8  15.600000
214       4   2.746333
215       0   0.012000
216       8   7.012000
217       2   2.460133
218       8  10.921333
219       2   3.136000
220       4   4.001933
221       4   1.892567

In [25]:
rf.score(x_train, y_train)

0.8421845698925696

In [26]:
rf.score(x_test, y_test) #too bad

-0.7008780576407689

## finding important features

In [28]:
import numpy as np
x_filter=pd.Series(rf.feature_importances_, index=np.array(x.columns)).sort_values(ascending=False)
x_filter

Reason for absence                 0.206583
Month of absence                   0.135175
Age                                0.123531
Work load Average per day          0.121588
Day of the week                    0.087841
Height                             0.071076
Transportation expense             0.052296
Hit target                         0.051754
Seasons                            0.041636
Son                                0.020146
Distance from Residence to Work    0.020087
Weight                             0.020008
Body mass index                    0.013050
Service time                       0.012551
Pet                                0.010632
Social drinker                     0.006133
Education                          0.002592
Disciplinary failure               0.002374
Social smoker                      0.000946
dtype: float64

In [32]:
x_filter[x_filter>=0.05].sum()

0.8498449443765314

In [35]:
x_filter=x_filter[x_filter>=0.05]

Index(['Reason for absence', 'Month of absence', 'Age',
       'Work load Average per day', 'Day of the week', 'Height',
       'Transportation expense', 'Hit target'],
      dtype='object')

In [38]:
x_new=df[x_filter.index]
y_new=y

In [39]:
x_train, x_test, y_train, y_test=train_test_split(x_new, y_new, test_size=0.3, random_state=1)

In [40]:
rf_1=RandomForestRegressor(n_estimators=250)
rf_1.fit(x_train, y_train)
y_pred_new=rf_1.predict(x_test)

In [41]:
metrics.mean_squared_error(y_pred_new, y_test) #co giam

130.8579209371342

In [42]:
tab=pd.DataFrame({'Actual':pd.DataFrame(y_test.values)[0].values, 'Predict':pd.DataFrame(y_pred_new)[0]})
tab.head(10)

   Actual    Predict
0       8  12.812000
1       2   7.360000
2       8   5.684000
3       8  41.156000
4       4   3.538800
5       2   4.476667
6       4   6.250267
7       2   1.974000
8       4   3.412667
9       2   5.154667

In [43]:
rf_1.score(x_train, y_train)

0.8518582832377121

In [44]:
rf_1.score(x_test, y_test)

0.25517081965537725

In [ ]:
#still overfitting, maybe try another model