In [1]:
import pandas as pd

In [17]:
df=pd.read_csv('Data/glass.data.txt', header=None)

In [18]:
df.head()

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 1 to 214
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       214 non-null    float64
 1   2       214 non-null    float64
 2   3       214 non-null    float64
 3   4       214 non-null    float64
 4   5       214 non-null    float64
 5   6       214 non-null    float64
 6   7       214 non-null    float64
 7   8       214 non-null    float64
 8   9       214 non-null    float64
 9   10      214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 18.4 KB

In [20]:
df.groupby(10).count()[0]

10
1    70
2    76
3    17
5    13
6     9
7    29
Name: 0, dtype: int64

In [21]:
inputs=df.drop([10], axis=1)
outputs=df[10]

In [22]:
inputs.head()

   0        1      2     3     4      5     6     7    8    9
0  1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [23]:
outputs.head()

0    1
1    1
2    1
3    1
4    1
Name: 10, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
x_train, x_test, y_train, y_test=train_test_split(inputs, outputs, test_size=0.3, random_state=42)

In [38]:
lst_k=[]
lst_acc=[]
for k in range(1, int(y_train.shape[0]**0.5)):
    lst_k.append(k)
    kn_re=KNeighborsClassifier(n_neighbors=k)
    kn_re.fit(x_train, y_train)
    y_pred=kn_re.predict(x_test)
    acc=accuracy_score(y_pred, y_test)
    lst_acc.append(acc)
    print('k: %d -> acc: %0.4f' %(k,acc))

k: 1 -> acc: 0.9846
k: 2 -> acc: 0.9846
k: 3 -> acc: 0.9538
k: 4 -> acc: 0.9538
k: 5 -> acc: 0.9538
k: 6 -> acc: 0.9538
k: 7 -> acc: 0.9692
k: 8 -> acc: 0.9692
k: 9 -> acc: 0.9692
k: 10 -> acc: 0.9692
k: 11 -> acc: 0.9538

In [39]:
vitri=lst_acc.index(max(lst_acc))
k=lst_k[vitri]
k, lst_acc[vitri]

(1, 0.9846153846153847)

In [40]:
model=KNeighborsClassifier(n_neighbors=1)
model.fit(x_train, y_train)
y_pred=model.predict(x_test)

In [41]:
accuracy_score(y_test, y_pred)

0.9846153846153847

In [42]:
df=pd.DataFrame({'Actual':pd.DataFrame(y_test.values)[0].values, 'Predict':pd.DataFrame(y_pred)[0]})
df.head(10)

   Actual  Predict
0       1        1
1       7        7
2       1        1
3       7        7
4       2        2
5       2        2
6       1        1
7       2        2
8       2        2
9       2        2

In [43]:
#evaluate
model.score(x_train, y_train)

1.0

In [44]:
model.score(x_test, y_test)

0.9846153846153847

In [ ]:
???Cao qua thay so baaaa