In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Data/spam.csv', encoding='latin-1')

In [4]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
df.groupby('v1').v2.count()

v1
ham     4825
spam     747
Name: v2, dtype: int64

In [13]:
target=df['v1']

In [14]:
target[:5]

0     ham
1     ham
2    spam
3     ham
4     ham
Name: v1, dtype: object

In [10]:
from sklearn.utils.validation import column_or_1d

In [21]:
import numpy as np

In [17]:
target=target.replace('spam',1)

In [25]:
target=target.replace('ham',0)

In [27]:
np.array(target[:5])

array([0, 0, 1, 0, 0])

In [19]:
out=pd.DataFrame(target)

In [20]:
text=df['v2']

In [22]:
inp=np.array(text)

In [23]:
inp[:5]

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       'U dun say so early hor... U c already then say...',
       "Nah I don't think he goes to usf, he lives around here though"],
      dtype=object)

In [30]:
out=np.array(target)

In [36]:
out.shape

(5572,)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [34]:
count=CountVectorizer()
bag_of_w=count.fit_transform(inp)
bag_of_w

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [35]:
x=bag_of_w.toarray()
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, out, test_size=0.3)

In [40]:
clf=MultinomialNB()
clf.fit(x_train, y_train)

MultinomialNB()

In [41]:
y_pred=clf.predict(x_test)

In [42]:
y_pred[:5]

array([0, 0, 0, 1, 0])

In [44]:
table=pd.DataFrame({'Actual':pd.DataFrame(y_test)[0], 'Pred':pd.DataFrame(y_pred)[0]})
table.head()

   Actual  Pred
0       0     0
1       0     0
2       0     0
3       1     1
4       0     0

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
clf.score(x_train, y_train)

0.9935897435897436

In [47]:
clf.score(x_test, y_test)

0.9832535885167464

In [48]:
accuracy_score(y_pred, y_test)

0.9832535885167464

In [51]:
x_new=np.array(['Dear Ton, thank you for all your caring','BTS is here','50% discount'])
x_new=count.transform(x_new)

In [52]:
y_new=clf.predict(x_new)
y_new

array([0, 0, 1])