In [1]:
import pandas as pd

In [5]:
df=pd.read_excel('Data/playgolf_data.xlsx', engine='openpyxl',index_col=0)

In [6]:
df.head()

      Outlook Temperature Humidity    Wind Play Golf
Day
1       Sunny         Hot     High    Weak        No
2       Sunny         Hot     High  Strong        No
3    Overcast         Hot     High    Weak       Yes
4        Rain        Mild     High    Weak       Yes
5        Rain        Cool   Normal    Weak       Yes

In [7]:
inputs=df.drop(['Play Golf'], axis=1)
outputs=df['Play Golf']

In [8]:
inputs.head()

      Outlook Temperature Humidity    Wind
Day
1       Sunny         Hot     High    Weak
2       Sunny         Hot     High  Strong
3    Overcast         Hot     High    Weak
4        Rain        Mild     High    Weak
5        Rain        Cool   Normal    Weak

In [9]:
outputs[:5]

Day
1     No
2     No
3    Yes
4    Yes
5    Yes
Name: Play Golf, dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder

In [12]:
x=pd.get_dummies(inputs)
x.head()

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Temperature_Mild,Humidity_High,Humidity_Normal,Wind_Strong,Wind_Weak
Day,,,,,,,,,,
1,0,0,1,0,1,0,1,0,0,1
2,0,0,1,0,1,0,1,0,1,0
3,1,0,0,0,1,0,1,0,0,1
4,0,1,0,0,0,1,1,0,0,1
5,0,1,0,1,0,0,0,1,0,1

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
from sklearn.utils.validation import column_or_1d

In [15]:
model=DecisionTreeClassifier(criterion='entropy')
model.fit(x, outputs)

DecisionTreeClassifier(criterion='entropy')

In [16]:
model.score(x,outputs)

1.0

In [23]:
lb=LabelEncoder()
y=lb.fit_transform(outputs)

In [24]:
model.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [25]:
model.score(x,y)

1.0