In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('Data/playgolf_data.xlsx', engine='openpyxl', index_col=0)

In [4]:
df.head()

      Outlook Temperature Humidity    Wind Play Golf
Day
1       Sunny         Hot     High    Weak        No
2       Sunny         Hot     High  Strong        No
3    Overcast         Hot     High    Weak       Yes
4        Rain        Mild     High    Weak       Yes
5        Rain        Cool   Normal    Weak       Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     object
 4   Play Golf    14 non-null     object
dtypes: object(5)
memory usage: 672.0+ bytes

In [6]:
df.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Golf'], dtype='object')

In [26]:
inputs=df.iloc[:,0:4]
outputs=df[['Play Golf']]

In [22]:
inputs.head()

      Outlook Temperature Humidity    Wind
Day
1       Sunny         Hot     High    Weak
2       Sunny         Hot     High  Strong
3    Overcast         Hot     High    Weak
4        Rain        Mild     High    Weak
5        Rain        Cool   Normal    Weak

In [27]:
outputs.head()

    Play Golf
Day
1          No
2          No
3         Yes
4         Yes
5         Yes

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
inp=pd.get_dummies(inputs)
inp

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Temperature_Mild,Humidity_High,Humidity_Normal,Wind_Strong,Wind_Weak
Day,,,,,,,,,,
1,0,0,1,0,1,0,1,0,0,1
2,0,0,1,0,1,0,1,0,1,0
3,1,0,0,0,1,0,1,0,0,1
4,0,1,0,0,0,1,1,0,0,1
5,0,1,0,1,0,0,0,1,0,1
6,0,1,0,1,0,0,0,1,1,0
7,1,0,0,1,0,0,0,1,1,0
8,0,0,1,0,0,1,1,0,0,1
9,0,0,1,1,0,0,0,1,0,1
10,0,1,0,0,0,1,0,1,0,1
11,0,0,1,0,0,1,0,1,1,0
12,1,0,0,0,0,1,1,0,1,0
13,1,0,0,0,1,0,0,1,0,1
14,0,1,0,0,0,1,1,0,1,0

In [30]:
from sklearn.utils.validation import column_or_1d
lb=LabelEncoder()

In [32]:
out=lb.fit_transform(column_or_1d(outputs))

## using GaussianNB

In [36]:
from sklearn.naive_bayes import GaussianNB

In [39]:
md=GaussianNB()
md.fit(inp,out)

GaussianNB()

In [40]:
md.score(inp,out)

0.6428571428571429

## Using BernoulliNB

In [42]:
from sklearn.naive_bayes import BernoulliNB

In [43]:
md_1=BernoulliNB()
md_1.fit(inp, out)

BernoulliNB()

In [44]:
md_1.score(inp,out)

0.9285714285714286

In [45]:
#higher in score, save this model

In [51]:
import pickle
m='BernoulliNB.pkl'
with open(m,'wb') as file:
    pickle.dump(md_1,file)

In [52]:
with open(m, 'rb') as file:
    model=pickle.load(file)

In [53]:
model

BernoulliNB()

In [48]:
x_test=[[1,0,0,1,0,0,1,0,1,0]]

In [54]:
y_pred=model.predict(x_test)

In [55]:
y_pred

array([1])