In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Data/titanic_csv.csv', index_col=0)

In [5]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
1,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,"St Louis, MO"
2,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  home.dest  745 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 132.9+ KB

In [7]:
#interpolate data
df=df.interpolate()

In [8]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'home.dest'],
      dtype='object')

In [9]:
x=df[['pclass','sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']]
y=df['survived']

In [10]:
x=pd.get_dummies(x)
x.head()

,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
1,1,29.0000,0,0,211.3375,1,0,0,0,1
2,1,0.9167,1,2,151.5500,0,1,0,0,1
3,1,2.0000,1,2,151.5500,1,0,0,0,1
4,1,30.0000,1,2,151.5500,0,1,0,0,1
5,1,25.0000,1,2,151.5500,1,0,0,0,1

In [11]:
x_now=x[['age','fare','sex_female','sex_male','pclass']]
y_now=y

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [14]:
x_train, x_test, y_train, y_test=train_test_split(x_now, y_now, test_size=0.3)

In [19]:
param_grid={'n_estimators':[50,100,200,300],'max_features':['auto','sqrt','log2']}

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
grid_rd=GridSearchCV(estimator=RandomForestClassifier(random_state=1), param_grid=param_grid, cv=5)

In [21]:
grid_rd.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=1),
             param_grid={'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [50, 100, 200, 300]})

In [25]:
print(grid_rd.best_params_)

{'max_features': 'auto', 'n_estimators': 100}

In [26]:
final_rd=RandomForestClassifier(max_features='auto',n_estimators=100)

In [27]:
final_rd.fit(x_train, y_train)

RandomForestClassifier()

In [28]:
y_pred=final_rd.predict(x_test)

In [33]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(y_pred, y_test)

0.7684478371501272

In [31]:
#training score:
final_rd.score(x_train, y_train)

0.982532751091703

In [32]:
final_rd.score(x_test, y_test) #slightly overfitting? how to improve

0.7684478371501272

## RandomSearch

In [34]:
from sklearn.model_selection import RandomizedSearchCV

In [35]:
param_dst={'n_estimators':[50,100,200,300], 'max_features':['auto','sqrt','log2']}

In [39]:
forest_rd=RandomizedSearchCV(estimator=RandomForestClassifier(random_state=1), param_distributions=param_dst, cv=5)

In [40]:
forest_rd.fit(x_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=1),
                   param_distributions={'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'n_estimators': [50, 100, 200, 300]})

In [43]:
forest_rd.best_params_

{'n_estimators': 100, 'max_features': 'log2'}

In [50]:
fn_rd=RandomForestClassifier(n_estimators=100, max_features='log2')

In [51]:
fn_rd.fit(x_train, y_train)

RandomForestClassifier(max_features='log2')

In [52]:
y_pred_new=fn_rd.predict(x_test)

In [53]:
accuracy_score(y_pred, y_test)

0.7684478371501272